.edit-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px;
  padding: 10px;
  width: 90%;
  align-items: center;
}
.edit-field button {
  padding: 0px 20px;
  border-radius: 5px;
  background-color: #f8df41;
  padding: 10px;
}

.edit-field img {
  width: 50%;
}

.edit-field input {
  margin: auto;
}
.edit-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px;
  padding: 10px;
}

.edit-image img {
  width: 250px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px grey;
}

.edit-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.edit-container {
  display: flex;
  flex-direction: row;
}

#editable-fields {
  width: 65%;
  margin: auto;
}

#cancel-edit {
  margin: 40px;
  padding: 0px 15px;
  background-color: rgb(7, 188, 167);
  border-radius: 5px;
}
