.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 10px 25px 0px;
}

.filter button {
  margin: 5px;
  border-radius: 5px;
}

#smile {
  background-color: rgb(20, 234, 20);
}

#okay {
  background-color: rgb(247, 226, 39);
}
#frown {
  background-color: red;
}

#outfit-header h1 {
  margin-left: 10px;
}

.filter img {
  width: 70px;
  padding-top: 3px;
  border-radius: 4px;
}
