.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.buttons button {
  /* padding: 10px 5px; */
  border-radius: 5px;
  border: 1px solid black;
  width: 40%;
  margin: 5px;
}

#edit {
  background-color: rgb(9, 182, 182);
}

#delete {
  background-color: rgb(242, 215, 64);
}

#details-img {
  padding: 10px;
  border-radius: 5px;
  width: 375px;
  height: 490px;
  object-fit: cover;
}

.container-details {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #27f1fc 0%,
    #eef439 25%,
    #03f1f9 50%,
    #f3eb5c 75%,
    #18d7fd 100%
  );
  border-image-slice: 1;
  border-radius: 10px;
  padding: 20px;
}

#container h3 {
  margin: 5px;
}

#details-text h3 {
  display: inline;
}

.container-right {
  padding: 50px;
  padding-top: 70px;
}

.name {
  margin: 0px;
  margin-bottom: 5px;
}
