.outfit-builder {
  background-color: rgba(238, 90, 122, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  position: fixed;
  bottom: 110px;
  width: 100%;
}

.outfit-builder img {
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}

.outfit-builder button {
  margin: 10px;
}

#builder-images {
  display: flex;
  flex-direction: row;
}

.img-card {
  display: flex;
  flex-direction: column;
  margin: 5px 3px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px grey;
}

.button-container {
  margin-bottom: -40px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0px;
}

.x-button {
  width: 25px;
  margin: 0px;
}

#builder-button {
  display: flex;
  flex-direction: column;
}

.next-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: -40px;
}

#next-btn {
  background-color: rgb(249, 239, 45);
  padding: 10px;
  border: 1px solid rgb(248, 211, 59);
  border-radius: 5px;
}
