/*Copied from closet*/

.outfit-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.outfit-items img {
  width: 55%;
}

.single-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  border: 1px none black;
}

.single-item p {
  padding: 10px 20px;

  width: 162px;
  height: 35px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: rgb(200, 247, 245);
  background: linear-gradient(rgb(200, 247, 245), rgb(170, 247, 243));
  margin-top: -70px;
  /* border: 3px solid rgb(3, 250, 230); */
  text-align: center;
}

.single-item img {
  /* margin-top: -20px; */
  z-index: -1;
  position: relative;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgb(33, 106, 100);
  border: 1px solid rgb(200, 247, 245);
}

.single-item img {
  width: 200px;
  height: 350px;
  margin: 20px;
  object-fit: cover;
}
