.footer-nav {
  background-color: rgb(7, 221, 207);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* position: static; */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icon {
  margin: auto;
}

.footer-nav p {
  margin: 0px;
  color: white;
}
