.footer-nav {
  background-color: #03a39b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* position: static; */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-shadow: black 3px 3px 3px;
}

.icon-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icon {
  margin: auto;
}

.footer-nav p {
  margin: 0px;
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
}
