.outfit-card {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 20px 35px grey;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 25px;

  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #27f1fc 0%,
    #eef439 25%,
    #03f1f9 50%,
    #f3eb5c 75%,
    #18d7fd 100%
  );
  border-image-slice: 1;
  border-radius: 10px;
  width: 80%;
}

.images {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid black; */
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.outfit-card img {
  width: 35%;
  margin: 10px;
}

.reaction {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px -10px;
  font-size: large;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
}

.card-top {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 10px;
}
